<!DOCTYPE html>
<html>
    <head>
        <title>Resume</title>
        <link rel="stylesheet" href="../static/CSS/style.css">
    </head>
    <body>
    <div id="header"></div>
    <div class="left"></div>
<div class="stuff">
  <br><br>
  <center>
      <img src="../static/images/MyImage.jpeg" width="90px" height="120px">
  <h2>Manikandan S V</h2>
  </center>
  <hr />
  <br>
  <p class="head">Interests</p>
  <ul>
    <li>Programming</li>
    <li>Hacking</li>
  </ul>
  <p class="head">Skills</p>
  <ul>
    <li>Basic Designing with HTML & CSS</li>
  </ul>
  <p class="head">Education</p>
  <table border="1">
      <tr>
          <th>S.I. NO</th>
          <th>Qualification</th>
          <th>Specification</th>
          <th>Institution Name</th>
          <th>Percentage</th>
      </tr>
      <tr>
        <td>1</td>
        <td>SSLC</td>
        <td>NIL(State Board)</td>
        <td>Sri Sakthi Matriculation School,Vanavasi</td>
        <td>93%</td>
    </tr>
    <tr>
        <td>2</td>
        <td>HSC</td>
        <td>Bio-Maths(State Board)</td>
        <td>M.A.M exel Matriculation Higher Secondary School,Vanavasi</td>
        <td>77.9%</td>
    </tr>
    <tr>
        <td>3</td>
        <td>BE</td>
        <td>CSE(Autonomous)</td>
        <td>Adhiyamaan College Of Engineering, Hosur</td>
        <td>65%</td>
    </tr>
  </table>
  <p class="head">Experience</p>
  <ul>
    <li>No Experience</li>
  </ul>
  <p class="head">Extracurriculars</p>
  <ul>
    <li>Playing football and kabadi</li>
  </ul>
</div>
<div class="right"></div>
<div id="footer">
  <h2 id="name">SelvaSK</h2></div>
</body>
</html>